/* --- hero class starts --- */
.hero {
    position: absolute;
    background-image: radial-gradient(400px 220px at 65% -15%, #6f06f0 -182%, #03000000 105%);
    /* background-image: (red 0%, orange 25%, yellow 50%, green 75%, blue 100%); */
    width: 100%;
    height: min-content;
    top: 0;
    margin: 0 0;
    padding: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tables {
    position: relative;
    width: 100%;
    height: min-content;
  }
  
  .integrations {
    width: 100%;
    height: 50%;
    line-height: 2.5;
    padding: 0;
    margin: 7rem 0;
  }
  
  .text h2 {
    background-image: linear-gradient(0deg, var(--token-42ea10b2-e48e-4212-b779-e8b5392c3ad4, rgb(134, 36, 255)) 0%, var(--token-f7a55c60-f433-4865-90dc-be1a5d93ae54, rgb(233, 115, 187)) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .text p,
  h1 {
    margin-top: 1.5em;
  }

  .img-container{
    width: 1.2rem;
    height: 1.2rem;
  }
  
  
  @media screen and (min-width:1024px) {
    .image-wrapper {
      width: 100% !important;
    }
  }
  
  @media(800px<width<1024px) {
    .img {
      width: 100%;
    }
  
    .integrations {
      margin: 4rem 0;
    }
  
    .image-wrapper {
      width: 70% !important;
    }
  }
  
  @media(400px<width<640px) {
    .integrations {
      padding: 4rem 3rem;
      margin: 2rem 0;
    }
  
    .text {
      line-height: 1.5;
    }
  
    .text h1 {
      font-size: 3rem;
    }
  }
  
  @media screen and (width<400px) {
    .integrations {
      padding: 3rem 1rem;
    }
  
    .text {
      line-height: 1.2;
    }
  
    .text h1 {
      font-size: 2.5rem;
    }
  
    .hero-image {
      width: 200px;
      height: 200px;
    }
  }
  
  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .img {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
  }
  
  .img img {
    width: 80%;
    height: 80%;
    opacity: 1;
    animation: rotation 20s infinite linear;
    border-radius: 50%;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(359deg);
    }
  }
  
  /* --- hero class ends --- */
  
  /* --- tables class starts */
  
  .tables {
    text-align: center;
  }
  
  .tables h1 {
    font-family: "SF Pro Display Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
  }
  
  .tables-columns {
    margin-top: 3rem;
  }
  
  .tables-columns .outer-div {
    width: 20rem;
    height: 8rem;
    background: #121218;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 7px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 2rem;
    transition: 0.5s ease;
    cursor: pointer;
  }
  

  .tables-columns .outer-div-hide {
    width: 20rem;
    height: 8rem;
    background: #121218;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 7px;
    aspect-ratio: 1;
    display: none;
    flex-direction: column;
    padding: 1.2rem 2rem;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .tables-columns .outer-div-hide-engg {
    width: 20rem;
    height: 8rem;
    background: #121218;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 7px;
    aspect-ratio: 1;
    display: none;
    flex-direction: column;
    padding: 1.2rem 2rem;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .tables-columns .outer-div-hide-market {
    width: 20rem;
    height: 8rem;
    background: #121218;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 7px;
    aspect-ratio: 1;
    display: none;
    flex-direction: column;
    padding: 1.2rem 2rem;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .button{
    cursor: pointer;
    color: rgba(177, 122, 245, 1);
    font-family:  "SF Pro Display Medium", "-apple-system", "BlinkMacSystemFont", sans-serif;
  }

  .button-engg{
    cursor: pointer;
    color: rgba(177, 122, 245, 1);
    font-family:  "SF Pro Display Medium", "-apple-system", "BlinkMacSystemFont", sans-serif;
  }

  .button-market{
    cursor: pointer;
    color: rgba(177, 122, 245, 1);
    font-family:  "SF Pro Display Medium", "-apple-system", "BlinkMacSystemFont", sans-serif;
  }

  
  .tables-columns .outer-div:hover {
    background: #24242c;
  }

  .tables-columns .outer-div-hide:hover {
    background: #24242c;
  }

  .tables-columns .outer-div-hide-engg:hover {
    background: #24242c;
  }

  .tables-columns .outer-div-hide-market:hover {
    background: #24242c;
  }
  
  .feature-icon div {
    width: 30px;
    height: 30px;
    background: #24242c;
    border-radius: 8px;
  }
  
  .p {
    margin-top: 0.3rem;
    font-size: .9rem;
  }
  
  /* --- tables class ends */