
section{
  position: relative;
  background-image: radial-gradient(20.6% 35.2% at 65% -15%,#6f06f0 -182%, #03000000 105%);
  /* background-image: (red 0%, orange 25%, yellow 50%, green 75%, blue 100%); */
  width: 100%;
  height: 90vh;
  top: 0;
  margin: 0;
  padding: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.integrations{
  width: 100%;
  height: 50%;
  /* margin: 0.1rem 5rem; */
  /* margin-top: 9rem; */
  line-height: 2.5;
}

.text h2{
  color: #a408ff;
}

.text p, h1{
  margin-top: 1.5em;
}

@media(400px<width<640px){
  .integrations{
    padding: 9rem 5rem;
  }
}

@media(width<400px){
  .integrations{
    padding: 3rem 1rem;
  }

  .img img{
    width: 50px;
    height: 50px;
  }
}

@media(1000px<width<1024px){
  .img img{
    width: 50%;
    height: 50%;
  }
}

.img img{
  width: 63%;
  height: 110%;
  margin-top: -3rem;
  opacity: 1;
  animation: rotation 12s infinite linear;
  border-radius: 50%;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}