
.hero {
    position: absolute;
    background-image: radial-gradient(400px 220px at 65% -15%, #6f06f0 -182%, #03000000 105%);
    /* background-image: (red 0%, orange 25%, yellow 50%, green 75%, blue 100%); */
    width: 100%;
    height: min-content;
    top: 0;
    margin: 0 0;
    padding: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
.container{
    opacity: 1;
    transform: perspective(1200px);
}

.left-side{
    flex: 1 0 0px;
    flex-flow: column;
    place-content: flex-start;
    position: sticky;
}

/* .left-side{
    place-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-flow: column;
    gap: 20px;
    height: min-content;
    max-width: 240px;
    overflow: hidden;
    padding: 0px;
    position: sticky;
    top: 100px;
    transform: perspective(1200px);
    width: 1px;
    will-change: transform;
    z-index: 1;
} */

.left-side-info{
    place-content: center;
    align-items: start;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 8px;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
    font-size: 1rem;
}

.categories{
    font-size: 0.8rem;
    place-content: start;
    align-items: center;
    backdrop-filter: blur(12px);
    background-color: rgba(130, 72, 255, 0.096);
    border-radius: 6px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 8px;
    height: min-content;
    overflow: hidden;
    padding: 4px 12px;
    position: relative;
    width: 100%;
    color: rgba(107, 216, 255, 0.759);
}

.divider{
    width: 100%;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, .06);
}

.image-container img{
    filter: grayscale(100%);
}
  img{
    width: 25px;
    height: 25px;
  }

.header{
    margin-left: 100px;
}

.outer-div{
    width: 4rem;
    height: 4rem;
    background: #121218;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 15px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 2rem;
    transition: 0.5s ease;
    cursor: pointer;
}

.right-side{
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 48px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
    transform: perspective(1200px);
    width: 1px;
}

.right-side img{
    width: 98%;
    height: 80%;
    border-radius: 20px;
}

.content{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    width: 90%;
    margin-top: -40px;
}

.columns{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.heading{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.information{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    place-content: flex-start;
}

@media(width<640px){
    .header{
        margin-left: 13%;
    }
    .image-container img{
        width: 20px;
        height: 20px;
    }
    .outer-div{
        width: 5px;
        height: 5px;
    }
}

@media(width<300px){
    .header{
        position: absolute;
        margin-left: 1px;
    }
}